:root{
  --green1: #C0CF3A;
  --green2: #8AB833;
  --green3: #549E39;
  --red: #ea4335;
  --blue: #b0d3b6;
}
html{
  overflow-y: visible;
}
body, html {
  height: 100%;
}
body{
  background-color: white;
  border: none;
  margin: 0;
}
p{
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}
h1 , h2 , h3 , h4 , h5{
  text-align: center;
}
@font-face {
  font-family: polya;
  src: url("/assets/POLYA.woff2");
  font-display: swap;
}
.section{
    width: 100%;
}
.section:not(#footer_section):not(#first_section){
    padding-bottom: 1%;
    padding-top: 1%;
}
html.phone .section:not(#footer_section):not(#first_section){
    padding-bottom: 5%;
    padding-top: 2%;
}
#first_section{
  width: 100%;
  height: 100%;
  background-color: var(--green2);
}
#main_headline{
  position: absolute;
  bottom: 50%;
  font-family: "polya";
  font-size: -webkit-xxx-large;
  color: black;
  vertical-align: middle;
  margin: 0px;
  transform: translateY(50%);
}
html.phone #main_headline{
    transform: translateY(50%) translateY(-50px);
}
html:not(.phone) #main_headline{
    width: 100%;
}
html.phone #main_headline{
    margin: 0px 5% 0px 5%;
}
html.phone #main_headline{
    font-size: 80px;
}
#second_section{
  width: 100%;
  background-color: white;
}
#scroll_button{
  position: absolute;
  bottom: 30px;
  border-radius: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
}
html.phone #scroll_button{
    width: 200px;
    height: 200px;
}
html:not(.mobile) #scroll_button:hover{
  background-color: lightgray;
}
.about_text{
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 26px;
}
#third_section{
  background-color: var(--green2);
}
#history_container{
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
}
.news_container{
  margin: auto;
}
.y_spacer_medium{
  margin-bottom: 50px;
}
.gallerie{
  width: 90%;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  margin: auto;
  margin-bottom: 5px;
}
.gallerie_controll_container{
  width: 10%;
  vertical-align: middle;
  display: flex;
}
.gallerie_controll{
  width: 100%;
}
.picture_container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 80%;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.picture_container::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.picture{
  height: 400px;
}
#zoomed_image{
  position: fixed;
  z-index: 2001;
}
.picture:not(:last-child){
  margin-right: 7px;
}
#zoom_blur_background{
  display: none;
  opacity: 0;
  transition: opacity 2s;
}
html.zoom #zoom_blur_background{
  display: block;
  background-color: black;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2000;
  opacity: 0.9;
}
html.zoom #zoomed_image_source{
    display: block;
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}
#zoomed_image_source{
    display: none;
    z-index: 2002;
    color: white;
}
.location, .news, .date{
  width: fit-content;
  margin: auto;
}
html:not(.phone) .location{
    display: flex;
}
html:not(.phone) .date{
    display: flex;
}
html.phone .location{
    width: 100%;
    margin: 0px;
}
html.phone .date{
    width: 100%;
    margin: 0px;
}
.location_text{
    margin: 0px;
}
html.phone .news{
    width: 100%;
    text-align: center;
}
html.phone .news_container{
    width: 100%;
}
html.mobile .location_text{
  font-size: xx-large;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
html.phone .location_icon , html.phone .news_icon , html.phone .date_icon{
    display: none;
}
html.mobile .news_text{
  font-size: x-large;
}
html.phone .date_text{
  font-size: x-large;
  width: 100%;
  text-align: center
}
html.mobile .upcoming_text{
  font-size: x-large;
}
.tweetContainer {
  display: flex;
  justify-content: center;
}
#upcoming_text{
    margin-top: 15px;
    margin-bottom: 3px;
    text-align: center;
}
#upcoming_container{
    margin: auto;
}
#upcoming_container .location{
    margin: 0px auto 0px 0px;
}
.location_link{
    text-decoration: none
}
.location_text , .news_text , .date_text{
  vertical-align: super;
  color: white;
  text-decoration: none;
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
  font-size: x-large;
}
#fourth_section{
    background-color: var(--blue);
}
html.phone #fourth_section{
    background-color: white;
}
#fifth_section{
  background-color: var(--green2);
  width: 100%;
  padding-bottom: 25px !important;
}
#downloads_headline , #history_title , #about_headline , #thanks_headline{
  font-family: "polya";
  margin: 0;
  padding: 20px;
  color: black;
  font-size: xx-large;
}
#downloads_table{
  margin: auto;
  width: 30%;
}
#footer_section{
  width: 100%;
  background-color: var(--green3);
  padding-top: 1%;
  padding-bottom: 1%;
}
html.phone #footer_section{
    padding-top: 3%;
    padding-bottom: 2%;
}
.footer_text{
  margin: 0px;
  margin-bottom: 4px;
  color: white;
  text-align: center;
  padding-left: 6px;
  padding-right: 6px;
  font-size: x-large;
}
#downloads_flexbox{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 10%;
  margin-left: 10%;
}
html.phone #downloads_flexbox{
    flex-flow: column;
    flex-wrap: nowrap;
}
#fourth_section p, #fourth_section ul{
    margin-left: 5%;
    margin-right:5%;
}
#fourth_section li:not(:last-child){
    margin-bottom: 3px;
}
#thanks_list li{
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
  font-size: x-large;
}
.download{
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: var(--green3);
  border-radius: 7px;
  flex-grow: 200;
  flex-shrink: 0;
}
.download_a{
  color: black;
  text-decoration: none;
}
.download_icon{
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto
}
.download_text{
  text-align: center;
  font-size: 20px;
  margin: 4px 0 4px 0;
}
html.phone .download_text{
    font-size: 50px;
}
html.phone .cookie_alert{
    width: 100%;
    height: 100%;
}
html.phone .cookie_alert .swal2-content{
    font-size: 50px;
}
html.phone .cookie_alert .swal2-actions{
    width: 100%;
}
html.phone .cookie_alert button{
    width: 50%;
}
html.phone .cookie_alert_container{
    padding: 0;
}
#cookie_alert{
    display: none;
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    background-color: white;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 3000;
}
html.mobile #cookie_alert{
    width: 100%;
    height: 40%;
}
#cookie_alert_headline{
    text-align: center;
    margin-bottom: 20px;
    font-size: xx-large;
}
html.phone #cookie_alert_headline{
}
.cookie_alert_button{
    background-color: white;
    border-radius: 0px;
    border: 2px solid gray;
    width: 50%;
    height: 40px;
}
.cookie_alert_button:first-child{
    background-color: var(--green2);
    font-weight: bold;
}
html.phone .cookie_alert_button{
    width: 90%;
    height: 100px;
    font-size: xx-large;
    border: 5px solid gray;
}
html:not(.phone) .cookie_alert_button:not(:last-child){
    margin-right: 10px;
}
html.phone .cookie_alert_button{
    margin-bottom: 10px;
}
html:not(.mobile) .cookie_alert_button:hover{
    background-color: gray;
}
#cookie_alert_button_conatainer{
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
}
html.phone #cookie_alert_button_conatainer{
    flex-flow: column;
    flex-wrap: nowrap;
    align-items: center;
}
